<a href="https://colab.research.google.com/github/GuilleLondero/challenge_one_DS_telecomX/blob/main/ChallengerTelecomX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**üìå Extracci√≥n**

In [2]:
# 1. Importar las bibliotecas necesarias
import pandas as pd

# 2. URL del archivo JSON est√°tico en GitHub
url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"

# 3. Leo el contenido JSON desde la URL y convierto los datos a un DataFrame de Pandas
df = pd.read_json(url)

# **Comprensi√≥n del DataSet**

In [3]:
# 1. Mostrar informaci√≥n b√°sica del DataFrame
df.shape

(7267, 6)

In [4]:
# 2. Mostrar columnas
df.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

In [5]:
# 3. Tipos de datos de cada columna
df.dtypes

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

In [6]:
# 4. Mostrar las primeras 5 filas
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [7]:
# 5. Informaci√≥n detallada del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [8]:
# 6. Explorar la columna target (Churn) - Variable objetivo
df['Churn'].value_counts() # Distribuci√≥n de clientes que se fueron vs se quedaron

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [16]:
# 6.1 Ver todos los valores √∫nicos en Churn
df['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

Tenemos 224 registros "misteriosos":
Los valores √∫nicos son: ['No', 'Yes', '']
¬°Aqu√≠ tenemso un problema! Hay 224 registros con valores vac√≠os ('') en la columna Churn.

Lo que significa:

üü¢ 'No' = 5174 ‚Üí Clientes que se quedaron

üî¥ 'Yes' = 1869 ‚Üí Clientes que se fueron

‚ö†Ô∏è '' (vac√≠o) = 224 ‚Üí Registros sin informaci√≥n de Churn

Por eso en el value_counts() aparec√≠a:

No: 5174

Yes: 1869

224 (esta l√≠nea extra eran los strings vac√≠os)

Total verificado:
5174 + 1869 + 224 = 7267 ‚úÖ (coincide con el total del dataset)

¬øQu√© hacer con estos 224 registros?

In [23]:
# 7. Porcentaje de distribuci√≥n de Churn
churn_porcentajes = df['Churn'].value_counts(normalize=True) * 100 # Porcentajes para entender el balance
churn_porcentajes.round(2)

Churn
No     71.20
Yes    25.72
        3.08
Name: proportion, dtype: float64

### Interpretaci√≥n empresarial del resultado anterior:
üéØ Tasa de Churn = 25.72% es MUY ALTA para telecomunicaciones

üìä Retenci√≥n = 71.20% podr√≠a mejorar significativamente

‚ö†Ô∏è 3.08% sin datos necesita limpieza

¬øQu√© significa esto?
**De cada 100 clientes, aproximadamente 26 se van cada per√≠odo.**

Esta tasa de churn es preocupante. ***El objetivo ser√° identificar qu√© factores llevan a ese 25.72% a irse***

## **üßπ Calidad de los datos**

In [10]:
# 1. Verificar si hay valores nulos en las columnas principales
df.isnull().sum()

customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64

In [11]:
# 2. Verificar si hay customerIDs duplicados
df['customerID'].duplicated().sum()

np.int64(0)

In [12]:
# 3. Estad√≠sticas descriptivas de las columnas num√©ricas visibles
df.describe()

,customerID,Churn,customer,phone,internet,account
count,7267,7267,7267,7267,7267,7267
unique,7267,3,891,3,129,6931
top,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
freq,1,5174,223,3495,1581,6

In [24]:
# 4. Explorar la estructura anidada de las columnas
# Columna 'customer' - Datos demogr√°ficos
df['customer'].iloc[0]

{'gender': 'Female',
 'SeniorCitizen': 0,
 'Partner': 'Yes',
 'Dependents': 'Yes',
 'tenure': 9}

In [25]:
# 4.1. Columna 'phone' - Servicios telef√≥nicos
df['phone'].iloc[0]

{'PhoneService': 'Yes', 'MultipleLines': 'No'}

In [26]:
# 4.2. Columna 'internet' - Servicios de internet
df['internet'].iloc[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

In [27]:
# 4.3. Columna 'account' - Informaci√≥n de cuenta y facturaci√≥n
df['account'].iloc[0]

{'Contract': 'One year',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Mailed check',
 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}